<div class="container">
  <h2>Login</h2>
  <h4>Use a local account to log in.</h4>
  <hr />
  <div class="col-md-4">
    <section>
      <div class="form-group">
        <input #email class="form-control" id="Email" type="email" placeholder="Email" />
      </div>
      <div class="form-group">
        <input #password class="form-control" id="Password" type="password" placeholder="Password" />
      </div>
      <app-messages></app-messages>
      <button (click)="loginUser(email.value, password.value);" type="submit" class="primary">Log in</button>
    </section>
  </div>
  <hr />
  <a routerLink="/ForgetPassword">Forgot your Password?</a>
  <br />
  <a routerLink="/Register">Register as a new user?</a>
</div>
